.*.swp
.swp
__pycache__
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/encodings.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/caches/build_file_checksums.ser
.DS_Store
/build
/captures
app/app-release.apk
app/src/main/res/values/api.xml
