.*.swp
.swp
__pycache__
*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/data
app/src/main/assets/databases
app/src/main/res/values/api.xml
